<!--About page for Climate Canvas.-->
<!DOCTYPE HTML>
<html>
  <head>
    <title>Climate Canvas</title>
    <link rel="stylesheet" href="/static/style.css">
    <link rel="icon" type="image/x-icon" href="/static/images/favicon.ico">
   <!-- <script src="/static/script.js"></script> -->
  </head>
  
  <body>
    <header>
        <figure class="logo">
          <img src="/static/images/climatecanvas_crop.png">
          <figcaption><a href="/" id="headerlink">Climate Canvas: Your Weather, But Better</a></figcaption>
        </figure>
        <ul class="nav_items">
          <li><a href="/">Home</a></li>
          <li><a href="/tables">Tables</a></li>
          <li><a href="/about-us" id="current-page">About Us</a></li>
        </ul>
  </header>
    
    <main>
      <div class="welcome" id="welcome">
      <!--  <h1>About climateCanvas</h1> -->
        <p>Enjoy <b id="boldClimateCanvas">Climate Canvas</b>, where weather enthusiasts meet to explore the dynamic world of climate and weather patterns. Founded by a passionate group of college students with a shared curiosity about the planet's atmospheric phenomena.</p>
        <hr>
        <p id="catchy-phrase">Explore weather trends and data analysis with ease on our user-friendly platform designed for weather enthusiasts like you.</p> 
      </div>
      </div>
      <div class="our-story about">
        <figure class="image-box">
          <img src="static/images/our-story.jpg" onmouseover = "displayText()"/>
        </figure>
         <h2>Our Story</h2>
        <div class="box">
          <p id="our-story"> </p>
        <p>Driven by our collective fascination with the intricacies of weather systems, we embarked on a journey to create a space where weather lovers and curious minds alike could converge.</p>
        </div>
      </div>
      <div class="our-mission about">
        <figure class="image-box">
          <img src="static/images/our-mission.jpg" /> 
        </figure>
        <h2 class="box-title">Our Mission</h2>
        <div class="box">
        <p>At Climate Canvas, our mission is simple: to empower individuals with the knowledge and tools they need to better understand the world's weather. We believe that access to accurate and insightful weather data is essential for informed decision-making, whether you're planning your next outdoor adventure, tracking climate trends, or staying informed about environmental changes.</p>
       </div>
      </div>
      <div class="our-offer about">
        <figure class="image-box">
          <img src="static/images/our-offer.jpg" />
        </figure>
        <h2 class="box-title">Our Offer</h2>
        <div class="box">
          <ul>
            <li>Comprehensive Data Analysis: Dive deep into climate trends and historical weather data to gain an understanding of weather patterns across the globe.</li>
            <li>Interactive Maps and Graphs: Explore interactive maps, graphs, and visualizations that bring weather data to life, allowing you to visualize trends, patterns, and anomalies with ease.</li>
          </ul>
          </div>
      </div>
      <div class="our-commitment about">
        <figure class="image-box">
          <img src="static/images/welcome.jpg" /> 
        </figure>
        <h2 class="box-title">Our Commitment</h2>
        <div class="box">
          <p>At Climate Canvas, we're committed to providing you with the highest quality weather data and resources, backed by reliable research and expert analysis. Whether you're a seasoned meteorologist, a student of atmospheric science, or simply someone who finds joy in observing the ever-changing sky, we're here to support you on your journey to weather enlightenment.</p>
        </div>
      </div>
      <div class="join-us about">
        <figure class="image-box">
          <img src="static/images/join-us.jpg" /> 
        </figure>
        <h2 class="box-title">Join Us</h2>
        <div class="box">
          <p>Ready to embark on your weather exploration journey? Join us at Climate Canvas and unlock a world of weather insights, data-driven discoveries, and community connections. Together, let's unravel the mysteries of the atmosphere and uncover the fascinating stories hidden within the clouds</p>
        </div>
      </div>
    </main>
      <footer>
        <p>&copy Copyright 2024 Climate Canvas</p>
      </footer>
</html>
