.my-class {
    text-align: center;
    color: blue;
  }
  
.another-class {
    background-color: black;
    color: white;
    text-align: center;
  }
  
.button {
  background-color: darkcyan;
  color:antiquewhite
}